@import './../../Styles/globalVars.module.scss';

.icon {
  cursor: pointer;
}

.iconClose {
  cursor: pointer;
  transform: rotate(180deg);
  path {
      stroke: $redLight; 
  }
}


.questionsBox {
  border-bottom: solid 1px $gray;

  &__title {
    display: flex;
    justify-content: space-between;

    &__el {
      font-size: 14px;

      @include desktop {
        font-size: inherit;
      }
    }

    &__btn {
      border: none;
      background-color: $white;
      @include desktop {
        padding-right: 20px;
      }
    }
  }
  &__subTitle {
    margin-bottom: 30px;
    line-height: 2;
    font-size: 14px;
    @include desktop {
      font-size: inherit;
    }
  }
}

.questionsBox:nth-child(1) {
  margin-top: 30px;
  @include desktop {
    border-top: solid 1px $gray;
  }
}