
@import './globalVars.module.scss';


.modal {
    // background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px;

    height: 5px;

    @include desktop {
        height: 10px;
        margin: 0 280px 30px;
    }
}