@import './../../Styles/globalVars.module.scss';

.modalBox {
    background-color: $white;
    margin: 80px;
    box-shadow: -1px 6px 6px $blueLightShadow, 1px 6px 6px $blueLightShadow;
}

.modalDiv {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.modalButton {
    // background-color: $blueLight;
    border: none;
    background: none;
    padding-top: 10px;
    padding-right: 10px;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    &__close {
        cursor: pointer;
        path {
            fill: $blueLight;
        }
    }
}
