@import './../../Styles/globalVars.module.scss';

.downloadSection {
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__head {
            text-align: center;
            line-height: 1.5;

            width: 310px;
            
            @include desktop {
                width: 550px;
                margin-top: 60px;

        }

            &__description {
                color: $gray;
                font-size: 16px;
                @include desktop {
                font-size: inherit;
                }
            }
        }
        &__cards {
            margin-top: 20px;

            @include desktop {
                height: 500px;
            }
            &__list {

                @include desktop {

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    // justify-content: center;
                    gap: 40px;
                }
               
                &__el {
                    &__one {
                        margin-bottom: 40px;
                    }
                    &__two {
                        margin-bottom: 40px;
                    }
                    &__three {
                        margin-bottom: 40px;
                    }
                    @include desktop {
                    &__one {
                        // margin-top: 20px;
                    }
                    &__two {
                        margin-top: 40px;

                    }
                    &__three {
                        margin-top: 80px;

                    }}
                    

                    &__cards {
                        // background-color: aquamarine;
                        width: 280px;
                        border-radius: 15px;
                        box-shadow: -1px 6px 6px $blueLightShadow, 1px 6px 6px $blueLightShadow;
                        text-align: center;  
              
                            &__img {
                                margin-top: 40px;
                            }
                            &__header {
                                margin-bottom: 0;
                            }
                            &__description {
                                margin-top: 10px;
                                font-size: 16px;
                                color: $gray;
                            }
                            &__dots {
                                margin: 20px 0 20px 0;
                            }
                                        
                            &__btn {
                                margin-bottom: 20px;
                                width: 240px;
                                height: 40px;
                                font-family: $rubikFont;
                                border: 1px solid $blueLight;
                                border-radius: 4px;
                                background-color: $blueLight;
                                color: $white;
                                box-shadow: -1px 6px 6px $blueLightShadow,
                                     1px 6px 6px $blueLightShadow;
                    
                                &:hover {
                                    background-color: $white;
                                    color: $blueLight;
                                }
                            }
                    }
                }
            }
        }
    }
}

    